a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.wrap{
    width: 100%;
}

.top_view{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    background-image: url(../images/umamusume.jpeg);

}

.youtubeflame {
    flex-grow: 1;
}

#youtube{
    z-index: 5;
    width: 100%;
    height: 100vh
}

.youtubeflame::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: min(1080px, 100%);
    background-color: rgba(0, 0, 0, 0.2);
  }


.top_nav{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background:#FFFFFF;
        z-index: 30;
        transform: skewY(-60deg);
        transform-origin: top left;
        background-image: url(../images/bk_menu.png);
      }
.top_nav_list{
    position:absolute;
    top:490px;
    left: 3%;
    z-index: 100;
    transform: skewY(60deg);
    font-size: 25px;
    color: #b5d913;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 400;
}

.top_nav_list a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

.top_nav_list a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background:#b5d913;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .3s;
  }
.top_nav_list a:hover::after {
    transform: scale(1, 1);
  }

.top_nav_list li{
margin :13px auto;
}

.top_nav_img{
    position:absolute;
    top:300px;
    left: 3%;
    z-index: 100;
    transform: skewY(60deg);
}

.story{
    width: 100%;
    padding: 10% 0;
    background-image: url(../images/bg_story.png);
}

.story_s{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.story .lbox{
    width: 650px;
    margin-top: 10%;
}

.story .lbox img{
    width: 100%;
    height: auto;
}

.story .lbox .story_text{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 24px;
    color:#FFFFFF
}

.story .rbox{
    width: 400px;
}


.story .rbox img{
    width:100%;
    height: auto;
}

.top_character{
    padding-top: 10%;
    background-image: url(../images/c_bk.png);
}

.character_{
    text-align: center;
    font-size: 3rem;
    color: #b5d913;

}

.top_character_main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.top_character_box{
    justify-content: center;
    background-color: #FFFFFF;
    width: 200px;
    height: 300px;
    list-style: none;
    border: 2px solid;
    margin: 3%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px #b5d913;
    overflow: hidden;
}

.top_character_box h2{
    font-size: 80%;
}
.top_character_box img{
    width: 100%;
}

.top_contents{
    width: 60%;
    margin: 15% auto;
}

.contents_{
    text-align: center;
    font-size: 3rem;
    color: #b5d913;

}


.contents_all{
    display: flex;
    justify-content: center;
}

.contents_all  a {
    margin: 5%;
}

.contents_all a img{
    width: 100%;
}

.contents_small{
    margin-top: 20%;
    text-align: center;
    font-size: 2rem;
}

.contents_app{
    display: flex;
    justify-content: center;
}

.contents_app a{
    margin: 1%;
}

.contents_app a img{
    width:100%
}

.top_footer{
    width: 100%;
}

.copyright{
    text-align: center;
    font-size: 0.4rem;
    color: #020202;

}

.character_pages{
    background-image: url(../images/c_bk.png);
}

.character_pages_in{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.character_pages .character_pages_in img{
    width: 400px;
}

.character_pages .character_pages_in .character_pages_item {
    width: 600px;
    margin:auto
}

.character_pages .character_pages_in .character_pages_item h2{

    font-size: 3rem;
    color: #794016;
}

.character_pages .character_pages_in .character_pages_item .character_tx{
    font-size: 1.2rem;
    color:#794016;
}